{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to CertMon {% endblock %}</h1>
    
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.url.label }}: {{ form.url(id='url-form') }}<input type="submit" value="check">
    </form>

    <div class="page-header">
        {% if ssl %}
            <b>subject</b>: {{ ssl['subject'] }}<br>
            <b>notBefore</b>: {{ ssl['notBefore'] }}<br>
            <b>notAfter</b>: {{ ssl['notAfter'] }}<br>
            <b>issuer</b>: {{ ssl['issuer'] }}<br>
            <b>subjectAltName</b>: {{ ssl['subjectAltName'] }}<br>
        {% endif %}
        {% if form.url.errors %}
            {% for error in form.url.errors %}
                <span>{{ error }}</span>
            {% endfor  %}
        {% endif %}

    </div>

{% endblock %}